<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schuanhe.Plook.mapper.RoomMapper">

    <!-- 定义resultMap -->
    <resultMap id="roomAndChats" type="Room">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="admin" column="admin"/>
        <collection property="roomChats" ofType="RoomChat" column="id" select="getChatsByRoomId">
            <id column="id" property="id"/>
            <result column="data" property="data"/>
            <result column="room_id" property="roomId"/>
            <result column="user_id" property="userId"/>
            <result column="time" property="time"/>
        </collection>
    </resultMap>

    <insert id="addRoomChat" parameterType="RoomChat">
        INSERT INTO room_chat (chat, room_id, time, user_id)
        VALUES (#{data}, #{roomId}, #{time}, #{userId})
    </insert>

    <select id="getRoomAndChatsById" resultMap="roomAndChats">
        SELECT *
        FROM room
        WHERE id = #{id}
    </select>


    <!-- 根据房间id查询房间下的聊天记录 -->
    <select id="getChatsByRoomId" resultType="RoomChat">
        SELECT *
        FROM room_chat
        WHERE room_id = #{id}
    </select>


</mapper>
